 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a frontend engineer graduate in Computer Engineering, with over 13 years of proven expertise designing and developing web applications, working on companies with global reach.<br>
                    I worked as software architect and tech lead during several years on different projects, and gathered a lot of experience in  managing local and distributed teams, from 5 to +15 members.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have knowledge and experience in front-end technologies like Javascript, AngularJS, JQuery, Knockout, VueJS, Javascript design patterns, Responsive web design, Bootstrap and Semantic HTML markup. I also have a strong technical background in back-end technologies, specially on the .NET platform. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://ar.linkedin.com/in/gugarodriguez" class="btn btn-lg btn-outline">
                        View my linkedin profile
                    </a>
                </div>
            </div>
        </div>
    </section>